<ion-header >
  <ion-navbar color="light">
    <ion-title>Who's That?!</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >

    <p align="center"><img src="{{image}}" class="screen"  alt=""></p>

<ion-fab bottom right>
    <!--<button ion-button full (click)="openCamera()" color="secondary">Snap Shot</button>{{task}}-->
    <button ion-fab  color="secondary" (click)="CaptureandDetect()"  *ngIf="image==null" style="width: 100px; height: 100px" > <ion-icon ios="ios-camera" md="md-camera"></ion-icon></button>
</ion-fab>


<ion-fab bottom left>
  <!--<button ion-button full (click)="openCamera()" color="secondary">Snap Shot</button>{{task}}-->
  <button ion-fab  color="secondary" (click)="openGallery()"  *ngIf="image==null" style="width: 100px; height: 100px" >  <ion-icon ios="ios-photos" md="md-photos"></ion-icon></button>
</ion-fab>

<ion-fab bottom center>
  <!--<button ion-button full (click)="openCamera()" color="secondary">Snap Shot</button>{{task}}-->
  <button ion-fab  color="danger" (click)="upload()" *ngIf="image" style="width: 100px; height: 100px"  >  <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon></button>
</ion-fab>





</ion-content>
